:root {
  font-family: "Outfit", serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: #333;
  // background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // COMPONENTS
  // Border
  --border-color: #ed2672;

  // Clutter
  --clutter-margin-background: #4e102d;
  --clutter-padding-background: #771b63;
  --clutter-size-background: #ed2672;

  // Font
  --font-value-color: #fff;

  // Properties
  --properties-background: rgba(255, 255, 255, 0.1);
  --properties-color: #fff;

  // Tag
  --tag-tag-color: #ed2672;
  --tag-classes-color: #43e7f0;

  // Tooltip
  --tooltip-background: linear-gradient(#333, #111);
  --tooltip-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    // COMPONENTS
    // Border
    --border-color: #ed2672;

    // Clutter
    --clutter-margin-background: #dd96b1;
    --clutter-padding-background: #aa456c;
    --clutter-size-background: #c2034c;

    // Font
    --font-value-color: #333;

    // Properties
    --properties-background: rgba(0, 0, 0, 0.1);
    --properties-color: #333;

    // Tag
    --tag-tag-color: #ed2672;
    --tag-classes-color: #2187a1;

    // Tooltip
    --tooltip-background: linear-gradient(#fff, #eee);
    --tooltip-color: #333;
  }
}