.main-button {
  align-items: center;
  border: 0;
  border-radius: .5rem;
  box-shadow: var(--main-button-box-shadow);
  color: #fff;
  display: flex;
  gap: .5rem;
  justify-content: center;
  min-height: 2rem;
  min-width: 10rem;
  outline: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: all .1s ease-in-out;

  &:active {
    box-shadow: var(--main-button-box-shadow-focus);
    transform: translateY(2px);
  }

  &.main-button--off {
    background-image: linear-gradient(45deg, rgba(92, 19, 62, 1) 0%, rgba(194, 38, 38, 1) 53%, rgba(224, 92, 63, 1) 100%);
  }

  &.main-button--on {
    background-image: linear-gradient(45deg, rgba(4, 57, 79, 1) 0%, rgba(9, 121, 54, 1) 53%, rgba(38, 198, 166, 1) 100%);
  }
}