@use './normalize';
@use './components/index';
@use './theme';

* {
  letter-spacing: 1px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  &:hover {
    cursor: pointer;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}